
.logo {
    text-align: center;
    border: 3px solid black;
}
img {
    height: auto;
    width: 250px;
}
#git-logo{
    height: auto;
    width: 150px;
    float:right;
}

.main-container{
    display: flex;
}
.reference-list{
    display: flex;
    flex-direction: column;
}
.reference-item{
    padding: 1%;
}