
.logo {
    text-align: center;
    border: 2px solid black;
}

img {
    height: auto;
    width: 300px;
}

#git-logo{
    height: auto;
    width: 150px;
    float:right;
}

#header{
    text-align: center;
}