.logo {
    text-align: center;
    border: 3px solid rgb(148, 84, 32);
}

img {
    height: auto;
    width: 250px;
}

#git-logo {
    height: auto;
    width: 150px;
}

.index-main-container {
    display: flex;
}

.index-left-list {
    padding: 5px;
    border: 3px solid rgb(148, 84, 32);
}

.index-body {
    padding: 5px;
    border: 3px solid rgb(148, 84, 32);
}

.index-reference-list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 3px solid rgb(148, 84, 32);
}

.index-reference-item {
    padding: 5px;
    border: 1px solid rgb(148, 84, 32);
}

.git-page-banner {
    display: flex;
    justify-content: center;
}

.git-page-title {
}

.git-img-link {
    padding: 5px;
}